.equipment__title {
    font-family: var(--second-family);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #272a33;
    padding-top: 80px;
}

.equipment__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
}

.equipment__card {
    display: flex;
    border: 1px solid #e0e6ed;
    border-radius: 8px;
}

.equipment__image {
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.equipment__info {
    padding-left: 30px;
}

.equipment__subtitle {
    font-family: var(--second-family);
    font-size: 18px;
    line-height: 120%;
}

.equipment__status-wrapper {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.equipment__status {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 145%;
}

.equipment__catalog--btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 223px;
    height: 46px;
    margin: 40px auto 0;
}
