.about__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #272a33;
    margin: auto;
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin: 30px 0 51px 0;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
}

.about__image {
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.about__image--large {
    grid-column: 1 / -1;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.about__subtitle {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: #272a33;
    margin: 0 auto;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-family: var(--font-family);
    line-height: 150%;
    color: #272a33;
    padding: 0;
    margin: 20px 0 20px 0;
}

.about__item {
    display: flex;
    align-items: center;
}

.about__icon {
    margin-right: 15px;
}

.about__text--last {
    margin: 0 0 30px 0;
    font-family: var(--font-family);
    line-height: 150%;
    color: #272a33;
}

@media screen and (max-width: 1440px) {
    .about {
        margin-top: 80px;
    }

    .about__images {
        gap: 24px;
        grid-template-columns: 270px 270px;
    }

    .about__image {
        width: 100%;
    }

    .about__image--large {
        width: 100%;
        grid-column: 1 / -1;
        max-width: 565px;
        justify-self: center;
    }
}

@media screen and (max-width: 1160px) {
    .about {
        margin-top: 50px;
    }

    .about__title {
        font-size: 30px;
    }

    .about__content {
        flex-direction: column;
        align-items: center;
    }

    .about__images {
        gap: 32px;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .about__image {
        width: 100%;
        height: auto;
    }

    .about__image--large {
        grid-column: 1 / -1;
        width: 100%;
        max-width: none;
        justify-self: center;
    }
}

@media screen and (max-width: 768px) {
    .about__title {
        font-size: 20px;
        line-height: 120%;
    }

    .about__images {
        gap: 24px;
    }
}

@media screen and (max-width: 576px) {
    .about__content {
        margin-top: 20px;
    }

    .about__text--last {
        margin: 0 0 20px 0;
    }
}
