.about__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 135%;
    text-transform: uppercase;
    color: #272a33;
    margin: auto;
}

.about__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0 51px 0;
}

.about__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 30px;
}

.about__image {
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    display: block;
}

.about__image--large {
    grid-column: 1 / -1;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

.about__subtitle {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 150%;
    color: #272a33;
    margin: 0 auto;
}

.about__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    font-family: var(--font-family);
    line-height: 150%;
    color: #272a33;
    padding: 0;
    margin: 0 auto;
}

.about__icon {
    margin-right: 15px;
}
